/*-- Toaster --*/
/* The toaster div has different colours depending on the message type */
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:2147483647;
}

#msg-div .msg {
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}

#msg-div .msg p {
    margin: 0;
}

#msg-div .warn {
    border: 2px solid #fba601;
    background: #ffe4af;
}

#msg-div .info {
    border: 2px solid #0ca630;
    background: #d0f8da;
}

#msg-div .error {
    border: 2px solid #d91717;
    background: #ffe3e3;
}
/*-- End Toaster--*/

/*-- Logo --*/
#poweredby {
    position: absolute;
    bottom: 40px;
    right: 10px;
    z-index: 15000;

    /* IE 5-7 */
    filter: alpha(opacity=90);
    /* Netscape */
    -moz-opacity: 0.9;
    /* Safari 1.x */
    -khtml-opacity: 0.9;
    /* Good browsers */
    opacity: 0.9;
}


#poweredby div {
    position: relative;
    width: 320px;
    height:145px;
  /*  background-image: url(../images/logo.png);
    background-repeat: no-repeat;   */ 
}


/* The simple background image PNG does not work in IE6-8, but does in IE9 */
.x-ie6 #poweredby div,
.x-ie7 #poweredby div,
.x-ie8 #poweredby div {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png', sizingMethod='scale');
}
/*-- End Logo --*/

/*-- Label experiment --*/
.lblRdCheck {
    color: #2F4078; 
    font-size:16px;
    padding-left: 5px;
    padding-right: 5px;
}


.lblRdReq {
    color: #2F4078; 
    font-size:16px;
    font-weight: bold;
}

.lblRdReq-after {
    margin-left: 10px;
}



.lblRd {
    color: #2F4078; 
    font-size:16px;
}

.x-toolbar .lblRd {
    font-size:14px;
}

.x-toolbar .lblWizard {
    color: #2F4078; 
    font-size:16px;
    padding: 5px;
}



/*Wallpaper selection */
.thumb-wrap {
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid #86a5e5;
    background: #f3f5f9;
}

.thumb-wrap:hover{
    border: 2px solid #526b9d;
    background: #c4cbd7;
}

.thumb-wrap img {
    cursor:pointer;
}

.thumb-wrap.x-item-selected {
    border: 1px solid #fd6473;
    background: #e1c8d4;
}

.thumb-wrap h1{
    padding: 10px;
    color: #526b9d;
    font-size:20px;
}

.thumb-wrap .description{
    padding: 10px;
    color: #526b9d;
    font-size:14px;
    font-style:oblique;
}

/* Windows needs a banner */
.banner {
    width: 100%;
    height: 100%;
    background-color: #aaf6be;
    background-image: url('images/gradients/green.png');
    background-repeat: repeat-x;
    background-color: transparent;
}

.banner h1{
    margin-left: 52px;
    padding: 10px;
    margin: 0px;
    color: #000000;
    font-size:25px;
}

/* Grid styles */
.gridTree .x-grid-cell-inner {
    color: #676d76;
    font-size:16px;
/* May have to play around with the bottom items */
    line-height: 16px;
    padding: 2px !important;
    margin: 2px !important;
}

.gridMain .x-grid-cell-inner {
    color: #0b42b3;
    font-size:16px;
}

.gridRealm.availAll {
    background: black;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 2px 2px 2px 10px;
    color: white;
    font-size:12px;
}

.gridTag {
    background: #e7edf6;
    border: 1px solid #616b77;
    margin-top: 1px;
    padding: 1px 1px 1px 5px;
    color: #727982;
    font-size:10px;
}

.gridComment .x-grid-cell-inner {
    color: #676d76;
    font-size:12px;
}

/* EXP for check column */
.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}

.x-grid-checkheader {
/*
    width: 13px;
    height: 13px;
    background-image: url('../images/checkbox.gif');
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
    border: 0;
    display: block;
    margin: auto;
*/
    width: 17px;
    height: 17px;
    background-image: url('images/16x16/no.png');
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
    border: 0;
    display: block;
    margin: auto;

}

.x-grid-checkheader-checked {
   /* background-position: 0 -13px;*/
    background-image:url(images/16x16/yes.png);
}

.x-grid-checkheader-disabled {
    background-position: -39px 0;
}

.x-grid-checkheader-checked-disabled {
    background-position: -39px -13px;
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

/* EXP column display yes/no */
.noRight {
    background: #f6cecf;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 2px 2px 2px 10px;
    color: #6b032f;
    font-size:12px;
}

.hasRight {
    background: #d4e0ce;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 2px 2px 2px 10px;
    color: #1e5304;
    font-size:12px;
}

/* Note rather replace the .hasRight and .noRight with a more generic class eg. red or green */

.fieldRed {
    background: #f6cecf;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #6b032f;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldGreen {
    background: #d4e0ce;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #1e5304;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldBlue {
    background: #c5f5fd;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #4d4d4d;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldOrange {
    background: #ffd9b3;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #994d00;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldGrey {
    background: #e6e6e6;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #4d4d4d;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldYellow {
    background: #ffffb3;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #737373;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldRedWhite {
    background: #e00404;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #ffffff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldGreenWhite {
    background: #1a9406;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #ffffff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldGreyWhite {
    background: #767575;
    color: #ffffff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
}


.fieldBlueWhite {
    background: #1e66d2;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #ffffff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.fieldPurpleWhite {
    background: #9999ff;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    color: #ffffff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
}


.txtGrey {
    color: #98989b;
}

.txtGreen {
    color: #2c7607;
}

.txtRed {
    color: #d92435;
}

.txtBlue {
    color: #5c88e0;
}

.txtBold {
    font-weight: bold;
}

.green_round {
    margin: 5px;
    padding: 5px;
    border: 2px solid #0ca630;
    background: #d0f8da;
}

.blue_round {
    margin: 5px;
    padding: 5px;
    border: 2px solid #4a709b;
    background: #d3dfec;
}

.red_round {
    margin: 5px;
    padding: 5px;
    border: 2px solid #d92435;
    background: #f1e2e2;
}

.fileViewer {
    padding: 10px;
    margin: 2px;
    background: black;
    color: white;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}

.ux-filtered-column .x-column-header-inner {
    background-image:url(images/16x16/filter.png) !important;
    background-repeat:no-repeat;
    padding-left: 16px;
}

/* Treeview does not support Glyphs yet */
.x-grid-cell-inner-treecolumn .admin {
    background-image:url(images/16x16/list.png) !important;
}

.x-grid-cell-inner-treecolumn .users {
    background-image:url(images/16x16/users.png) !important;
}

.x-grid-cell-inner-treecolumn .user {
    background-image:url(images/16x16/user.png) !important;
}

.list {
    background-image:url(images/16x16/list.png) !important;
}

/*----------------------------------------------------
    FIN: Desktop DataView
*/

.ux-wallpaper {
    background-color: #3d71b8;
}


.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 210px; 
    height: 70px;
}

.ux-desktop-shortcut-icon {
    width: 52px;
    height: 52px;
    float:left;
    background: #aaf6be;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;    
}

.ux-desktop-shortcut-text {
    font: bold 14px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    margin-left:58px; 
    height:70px;
    color: #00359a; 
    text-align: left; 
    padding-top: 20px;
}

.x-view-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}

.ux-desktop-shortcut.x-view-over {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .5);
    border: 1px solid #2F4078;
}


/* Fin Desktop shortcuts */
.vouchers-shortcut {
    background-image: url(images/48x48/vouchers.png);
    background-repeat: no-repeat;
}

.byod-shortcut {
    background-image: url(images/48x48/devices.png);
    background-repeat: no-repeat;
}

.users-shortcut {
    background-image: url(images/48x48/users.png);
    background-repeat: no-repeat;
}

.activity-shortcut {
    background-image: url(images/48x48/activity.png);
    background-repeat: no-repeat;
}

.password-shortcut {
    background-image: url(images/48x48/key.png);
    background-repeat: no-repeat;
}

.apdesk-shortcut {
    background-image: url(images/48x48/cloud.png);
    background-repeat: no-repeat;
}

.meshdesk-shortcut {
    background-image: url(images/48x48/mesh.png);
    background-repeat: no-repeat;
}


#east-region-body {
    background-color: $border-layout-ct-background-color;
}


.mapInfoDiv {
    height: 250px;
    width:  350px;
    margin: 0px;
}

.mapEditDiv {
    height: 190px;
    width:  350px;
    margin: 0px;
}

.divMapAction {
    margin: 5px;
    padding: 5px;
}

.lblMap {
    width: 120px;
    float: left;
    text-align: left;
    color: #676d76;
    font-size:14px;
    margin: 1px;
}

.lblValue {
    text-align: left;
    font-size:14px;
    margin: 1px;
}

.subTab {
    background: #CCE5FF;
}


/*--- Translator applet ---*/
td.grdBold div{
    font-weight: bold;
}

td.grdGrey div{
    color: #4b4b4b;
}

td.grdItalic div{
    font-style:italic;
}

td.grdEditable div {
    border: 1px solid #a9bfd3;
}

.regMsg {
    margin: 15px;
    font-size:16px;
    color: #6b6a72;
}

.bodyCls {
    background-color: white;
}

.new {
    background-color: #12f6f9;
    font-style:italic;
    font-size:12px;
}


.combo-wrapper {
    border	: 1px solid #ccc;
    padding	: 1px;
	margin	: 2px;	
}

.combo-wrapper img{
    float: right;
}


.combo-country {
    font-weight: bold;
    font-size: 16px;
}

.combo-language {
    font-size: 12px;
    color: #666666;
}



.combo-main {
    font-weight: bold;
    font-size:14px;
}

.combo-detail {
    color: #392bef;
    font-size:12px;
}


.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
    font-size:12px;
    color: #0652c3;
}

/*Red progressbar */
.x-progress.wifired .x-progress-bar {
    background-color: #e00404;
}



/*Yello progressbar */
.x-progress.wifiyellow .x-progress-bar {
    background-color: #ff9900;
}

/*Green progressbar*/ 
.x-progress.wifigreen .x-progress-bar {
    background-color: #1a9406;
}


.conn {
    height: 250px;
    width:  350px;
    margin: 0px;
}

.grpInfo {
    color:grey;
    font-size:10px;
    font-style:italic;
    font-weight:lighter;
}

.grpNever {
    color: #1383bd;
    font-size:14px;  
}

.grpUp {
    color: green;
    font-size:14px;  
}

.grpDown {
    color: red;
    font-size:14px;  
}


.divTip {
    background: #595959;
    margin-top: 2px;
    padding: 5px 10px;
    color: #ffffff;
}


.node {
  background-color:transparent;
  font-weight:bold;
  overflow:hidden;
  text-decoration:none;
  position:absolute;
  text-align:center;
  padding:40px 10px 10px 10px;
}

.node:hover {
  color:#393434;
}

.hidden{
  display:none;
}

.lightGreen {
background-color:#eaffea;
}

.lightBlue {
background-color:#e9fdff;
}

.lightGrey {
background-color:#dcdcdc;
}

.lightRed {
background-color:#ffecec;
}

.sectionHeader {
    color:white;  
    background-color:grey; 
    padding:1px;
}

.sectionHeader h2 {
    margin:2px; 
    padding:2px;
}

.twoColumnContainer {
 width:500px;
    overflow:hidden;
    display:inline-block;
}

.twoColumnItem {
    position:relative;
    float:left;
    width:40%;
    height:170px;
    margin-left:4%;
    margin-top:10px;
    background-color:#d7d7d4;
}

.lblTipItem {
    width: 120px;
    float: left;
    text-align: left;
    color: #33ccff;
    font-size:14px;
    margin: 1px;
    font-weight: bold;
}

.lblTipValue {
    text-align: left;
    font-size:14px;
    margin: 1px;
    color: #ffffff;
}

